<aside class="sidebar">
  <div class="sidebar-brand">
    <div class="logo-badge">SB</div>
    <div class="brand-text">SmartBilling</div>
  </div>

  <div class="nav-group">
    <p class="group-title">MAIN</p>
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item"
      >Dashboard</a
    >
    <a
      routerLink="/billing"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item"
      >Billing / POS</a
    >
    <a href="#" class="nav-item">?? Invoices</a>
  </div>

  <div class="nav-group">
    <p class="group-title">CATALOG</p>
    <a routerLink="/products" routerLinkActive="active" class="nav-item"
      >Products</a
    >
    <a href="#" class="nav-item">?? Inventory <span class="pill">3</span></a>
    <a href="#" class="nav-item">??? Categories</a>
  </div>

  <div class="nav-group">
    <p class="group-title">PEOPLE</p>
    <a routerLink="/customers" routerLinkActive="active" class="nav-item"
      >Customers</a
    >
    <a href="#" class="nav-item">?? Suppliers</a>
  </div>

  <div class="nav-group">
    <p class="group-title">FINANCE</p>
    <a href="#" class="nav-item">?? Ledger</a>
    <a href="#" class="nav-item">?? Payments</a>
  </div>

  <a href="#" class="help-docs">Help</a>
  <a href="#" class="help-docs">Docs</a>

  <!-- <div class="sidebar-foot">
    <a href="#" class="foot-link">Help</a>
    <a href="#" class="foot-link">Docs</a>
  </div> -->
</aside>
