spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartbilling
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
